.content {
    form {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        gap: 8px;
        
        mat-form-field {
            width: 320px;
        }
    }
}
.title {
    font-size: 32px;
    padding-top: 16px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    border-top: 1px solid #0D92F4;
    
    button:nth-child(2) {
        color: white;
    }
}