<div class="main-panel">
    <div class="header">
        <div class="header-element">
            <div class="icon-element">
                <button mat-icon-button [routerLink]="['/profile']">
                    <mat-icon fontIcon="account_circle"></mat-icon>
                </button>
                <div class="label">Profile</div>
            </div>
        </div>
        <div class="header-element">
            <div class="icon-element">
                <button mat-icon-button [routerLink]="['/courts']">
                    <mat-icon fontIcon="list"></mat-icon>
                </button>
                <div class="label">Courts list</div>
            </div>
        </div>
        <div class="header-element">
            <div class="icon-element">
                <button mat-icon-button>
                    <mat-icon fontIcon="today" [routerLink]="['/tournaments']"></mat-icon>
                 </button>
                 <div class="label">Tournaments</div>
            </div>
        </div>  
        <div class="header-element">
            <div class="icon-element">
                <button mat-icon-button>
                    <mat-icon fontIcon="forward" (click)="logout()"></mat-icon>
                </button>
                <div class="label">Logout</div>
            </div>
        </div>
    </div>
    <div class="content">
        <router-outlet />
    </div>
</div>