<div class="main-panel">
    <div class="header">
        <div class="icon-element">
            <button mat-icon-button>
                <mat-icon fontIcon="list"></mat-icon>
            </button>
            <div class="label">Courts list</div>
        </div>
        <div class="icon-element">
            <button mat-icon-button>
               <mat-icon fontIcon="today"></mat-icon>
            </button>
            <div class="label">Tournaments</div>
        </div>  
        <div class="icon-element">
            <button mat-icon-button>
                <mat-icon fontIcon="forward"></mat-icon>
            </button>
            <div class="label">Logout</div>
        </div>
    </div>
    <div class="content">
        <app-courts></app-courts>
    </div>
</div>