<div class="card">
    <div class="header">
        <div class="title">Kart Time</div>
    </div>
    <div class="content">
        <form class="inputs" [formGroup]="loginForm">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" />
                @if (loginForm.get('username')?.hasError('required')) {
                    <mat-error>
                        Username is required.
                    </mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" (keyup.enter)="onLoginClick()" />
                @if (loginForm.get('password')?.hasError('required')) {
                    <mat-error>
                        Password is required.
                    </mat-error>
                }
            </mat-form-field>
        </form>
        <div class="buttons">
            <button mat-stroked-button color="primary" (click)="onSignUpClick()">SIGN UP</button>
            <button mat-flat-button color="primary" (click)="onLoginClick()">LOGIN</button>
        </div>
    </div>
    <div class="footer">
        <button mat-button color="primary">Forgot password?</button>
    </div>
</div>