<div class="card">
    <div class="header">
        <div class="title">Kart Time</div>
    </div>
    <div class="content">
        <form class="inputs">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password"/>
            </mat-form-field>
        </form>
        <div class="buttons">
            <button mat-stroked-button color="primary" (click)="onSignUpClick()">SIGN UP</button>
            <button mat-flat-button color="primary" (click)="onLoginClick()">LOGIN</button>
        </div>
    </div>
    <div class="footer">
        <button mat-button color="primary">Forgot password?</button>
    </div>
</div>