<div class="title">{{tournament.name}}</div>

<div class="actions">
	<button mat-raised-button color="primary" (click)="onShowGPCodeClick()">Show GP code</button>
    <button mat-raised-button color="primary" (click)="addNewResult()">Add new result</button>
</div>

<div class="tournament-sections">
	<div class="list-wrapper">
		@for (result of results; track result.id) {
			<div class="element-container">
				<div class="element-username">{{result.user_name}}</div>
				<div class="element-laptime">{{result.lap_time}}</div>
				<div class="element-lapdate">{{result.lap_date}}</div>
			</div>
		} @empty {
			<p>There is not results in GP yet.</p>
		}
	</div>
</div>
