<div class="title">COURTS LIST</div>
<div class="search-bar">
    <mat-form-field>
        <input matInput type="text" placeholder="Cart court" (keyup.enter)="search()" [(ngModel)]="searchValue" ngDefaultControl/>
        <button matSuffix mat-icon-button (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    @if (this.searchValue) {
        <button class="search-bar--clear" mat-button color="primary" (click)="reset()">clear</button>
    }
</div>
<div class="filtered-elements">
    <div class="list-wrapper">
        @for (court of filteredCourts(); track court.id) {
            <div class="element-container" (click)="openModal()">
                <div class="element-name">{{court.track_name}}</div>
                <div class="element-address">{{court.address}}</div>
                <div class="element-time">{{court.opening_hours}}</div>
            </div>
        } @empty {
            no results...
        }
    </div>
</div>