<div mat-dialog-title class="title">Join tournament</div>
<div mat-dialog-content class="content">
    <form [formGroup]="joinForm">
        <mat-form-field>
            <mat-label>Code</mat-label>
            <input matInput formControlName="code" />
            <mat-hint>Enter 6-character code</mat-hint>
            @if (joinForm.get('code')?.hasError('required')) {
                <mat-error>
                    Code is required.
                </mat-error>
            } @else if (joinForm.get('code')?.hasError('minlength') || joinForm.get('code')?.hasError('maxlength')) {
                <mat-error>
                    The code must be 6 characters long.
                </mat-error>
            }
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="footer">
    <button mat-stroked-button mat-dialog-close color="primary">Cancel</button>
    <button mat-flat-button color="primary" [disabled]="actionDiasabled()" (click)="test()">Join</button>
</div>